body {
    background-color: lightblue !important;
    color: white !important;
}

.element {
    background-color: white;
    color: lightseagreen;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    margin: 5px;
    padding: 5px;
}

#login {
    float: right;
    text-align: right;
}

#login-button {
    color: lightseagreen;
    border-style: solid;
    border-width: 1px;
    border-color: black;
    padding: 5px;
    background-color: white;
    margin: 5px;
    text-decoration: none;
    border-radius: 3px;
}

#login-button:hover {
    background-color: #ebfff7;
    color: seagreen;
}

#welcome {
    width: 25%;
    float: left
}

#welcome-link {
    color: lightseagreen;
}

#welcome-link:hover {
    color: lightseagreen;
}